In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
y1 = pd.read_csv('year1.csv')
y2 = pd.read_csv('year2.csv')
y3 = pd.read_csv('year3.csv')
y4 = pd.read_csv('year4.csv')

In [6]:
y1

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X57,X58,X59,X60,X61,X62,X63,X64,id,TARGET
0,0.20055,0.37951,0.39641,2.0472,32.351,0.38825,0.24976,1.3305,1.1389,0.50494,...,0.39718,0.87804,0.001924,8.416,5.1372,82.658,4.4158,7.4277,0,0
1,0.20912,0.49988,0.47225,1.9447,14.786,0,0.25834,0.99601,1.6996,0.49788,...,0.42002,0.85300,0,4.1486,3.2732,107.350,3.4,60.987,1,0
2,0.24866,0.69592,0.26713,1.5548,-1.1523,0,0.30906,0.43695,1.309,0.30408,...,0.81774,0.76599,0.69484,4.9909,3.951,134.270,2.7185,5.2078,2,0
3,0.081483,0.30734,0.45879,2.4928,51.952,0.14988,0.092704,1.8661,1.0571,0.57353,...,0.14207,0.94598,0,4.5746,3.6147,86.435,4.2228,5.5497,3,0
4,0.18732,0.61323,0.2296,1.4063,-7.3128,0.18732,0.18732,0.6307,1.1559,0.38677,...,0.48431,0.86515,0.12444,6.3985,4.3158,127.210,2.8692,7.898,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7022,0.018371,0.4741,-0.13619,0.60839,-18.449,0.018371,0.018371,0.97203,1.0121,0.46084,...,0.039866,0.98809,0.27414,73.505,79.237,31.268,11.673,5.1489,7022,1
7023,-0.013359,0.58354,-0.02265,0.92896,-42.232,-0.013359,-0.015036,0.56289,0.98904,0.32847,...,-0.040671,1.01110,0.80592,10.599,7.174,94.092,3.8792,1.7572,7023,1
7024,0.006338,0.50276,0.43923,1.8736,9.7417,0.006338,0.012022,0.98356,1.0083,0.49449,...,0.012817,0.99174,0,10.47,6.0759,51.019,7.1542,62.001,7024,1
7025,-0.041643,0.8481,-0.12852,0.57485,-121.92,0,-0.036795,0.17901,0.42138,0.15182,...,-0.27429,0.98788,3.5931,39.703,3.142,261.850,1.3939,0.51005,7025,1
7026,0.014946,0.94648,0.03211,1.0363,-20.581,0,0.01526,0.056357,2.9694,0.053341,...,0.28021,0.97443,1.1792,15.036,4.1741,108.640,3.3599,35.118,7026,1

In [8]:
y1['TARGET'].value_counts()

0    6756
1     271
Name: TARGET, dtype: int64

In [10]:
y1.isnull().sum().all

<bound method NDFrame._add_numeric_operations.<locals>.all of X1        0
X2        0
X3        0
X4        0
X5        0
         ..
X62       0
X63       0
X64       0
id        0
TARGET    0
Length: 66, dtype: int64>

In [12]:
y1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7027 entries, 0 to 7026
Data columns (total 66 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      7027 non-null   object
 1   X2      7027 non-null   object
 2   X3      7027 non-null   object
 3   X4      7027 non-null   object
 4   X5      7027 non-null   object
 5   X6      7027 non-null   object
 6   X7      7027 non-null   object
 7   X8      7027 non-null   object
 8   X9      7027 non-null   object
 9   X10     7027 non-null   object
 10  X11     7027 non-null   object
 11  X12     7027 non-null   object
 12  X13     7027 non-null   float64
 13  X14     7027 non-null   object
 14  X15     7027 non-null   object
 15  X16     7027 non-null   object
 16  X17     7027 non-null   object
 17  X18     7027 non-null   object
 18  X19     7027 non-null   float64
 19  X20     7027 non-null   float64
 20  X21     7027 non-null   object
 21  X22     7027 non-null   object
 22  X23     7027 non-null   float64
 23  X24     7027 non-null   object
 24  X25     7027 non-null   object
 25  X26     7027 non-null   object
 26  X27     7027 non-null   object
 27  X28     7027 non-null   object
 28  X29     7027 non-null   object
 29  X30     7027 non-null   float64
 30  X31     7027 non-null   float64
 31  X32     7027 non-null   object
 32  X33     7027 non-null   object
 33  X34     7027 non-null   object
 34  X35     7027 non-null   object
 35  X36     7027 non-null   object
 36  X37     7027 non-null   object
 37  X38     7027 non-null   object
 38  X39     7027 non-null   float64
 39  X40     7027 non-null   object
 40  X41     7027 non-null   object
 41  X42     7027 non-null   float64
 42  X43     7027 non-null   float64
 43  X44     7027 non-null   float64
 44  X45     7027 non-null   object
 45  X46     7027 non-null   object
 46  X47     7027 non-null   object
 47  X48     7027 non-null   object
 48  X49     7027 non-null   float64
 49  X50     7027 non-null   object
 50  X51     7027 non-null   object
 51  X52     7027 non-null   object
 52  X53     7027 non-null   object
 53  X54     7027 non-null   object
 54  X55     7027 non-null   float64
 55  X56     7027 non-null   float64
 56  X57     7027 non-null   object
 57  X58     7027 non-null   float64
 58  X59     7027 non-null   object
 59  X60     7027 non-null   object
 60  X61     7027 non-null   object
 61  X62     7027 non-null   float64
 62  X63     7027 non-null   object
 63  X64     7027 non-null   object
 64  id      7027 non-null   int64
 65  TARGET  7027 non-null   int64
dtypes: float64(15), int64(2), object(49)
memory usage: 3.5+ MB

In [60]:
obj_cols = y1.select_dtypes(include=['object']).columns
# y1[obj_cols] = y1[obj_cols].astype('float64')
for i in obj_cols:
    y1[i] = pd.to_numeric(y1[i], errors='coerce')
y1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7027 entries, 0 to 7026
Data columns (total 66 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      7024 non-null   float64
 1   X2      7024 non-null   float64
 2   X3      7024 non-null   float64
 3   X4      6997 non-null   float64
 4   X5      7019 non-null   float64
 5   X6      7024 non-null   float64
 6   X7      7024 non-null   float64
 7   X8      7002 non-null   float64
 8   X9      7026 non-null   float64
 9   X10     7024 non-null   float64
 10  X11     6988 non-null   float64
 11  X12     6997 non-null   float64
 12  X13     7027 non-null   float64
 13  X14     7024 non-null   float64
 14  X15     7025 non-null   float64
 15  X16     7002 non-null   float64
 16  X17     7002 non-null   float64
 17  X18     7024 non-null   float64
 18  X19     7027 non-null   float64
 19  X20     7027 non-null   float64
 20  X21     5405 non-null   float64
 21  X22     7024 non-null   float64
 22  X23     7027 non-null   float64
 23  X24     6903 non-null   float64
 24  X25     7024 non-null   float64
 25  X26     7002 non-null   float64
 26  X27     6716 non-null   float64
 27  X28     6993 non-null   float64
 28  X29     7024 non-null   float64
 29  X30     7027 non-null   float64
 30  X31     7027 non-null   float64
 31  X32     6989 non-null   float64
 32  X33     6997 non-null   float64
 33  X34     7002 non-null   float64
 34  X35     7024 non-null   float64
 35  X36     7024 non-null   float64
 36  X37     4287 non-null   float64
 37  X38     7024 non-null   float64
 38  X39     7027 non-null   float64
 39  X40     6997 non-null   float64
 40  X41     6943 non-null   float64
 41  X42     7027 non-null   float64
 42  X43     7027 non-null   float64
 43  X44     7027 non-null   float64
 44  X45     6893 non-null   float64
 45  X46     6996 non-null   float64
 46  X47     6998 non-null   float64
 47  X48     7024 non-null   float64
 48  X49     7027 non-null   float64
 49  X50     7002 non-null   float64
 50  X51     7024 non-null   float64
 51  X52     6998 non-null   float64
 52  X53     6993 non-null   float64
 53  X54     6993 non-null   float64
 54  X55     7027 non-null   float64
 55  X56     7027 non-null   float64
 56  X57     7026 non-null   float64
 57  X58     7027 non-null   float64
 58  X59     7026 non-null   float64
 59  X60     6892 non-null   float64
 60  X61     7005 non-null   float64
 61  X62     7027 non-null   float64
 62  X63     6997 non-null   float64
 63  X64     6993 non-null   float64
 64  id      7027 non-null   int64
 65  TARGET  7027 non-null   int64
dtypes: float64(64), int64(2)
memory usage: 3.5 MB

In [61]:
y1.isnull().sum().all

<bound method NDFrame._add_numeric_operations.<locals>.all of X1         3
X2         3
X3         3
X4        30
X5         8
          ..
X62        0
X63       30
X64       34
id         0
TARGET     0
Length: 66, dtype: int64>

In [14]:
y1_full = y1.set_index('id')

In [16]:
X = y1_full.drop(['TARGET'], axis=1)
y = y1.TARGET

In [18]:
from sklearn.model_selection import train_test_split

X_train , X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [20]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=5, random_state=0)

In [22]:
X_train

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X55,X56,X57,X58,X59,X60,X61,X62,X63,X64
id,,,,,,,,,,,,,,,,,,,,,
1900,?,?,?,?,19866,?,?,?,0.98556,?,...,352.070,-0.014651,0,1.01470,0,5.2041,0.033087,0.0000,?,1.2531
3584,0.22498,0.45494,0.35625,1.7831,4.9358,0.22498,0.22498,1.1341,1.2073,0.51592,...,3681.500,0.171710,0.43607,0.82829,0,3.1876,2.5137,151.9200,2.4025,5.7889
1669,0.056905,0.68413,0.032085,1.0827,-20.116,-0.000391,0.071784,0.4617,1.8758,0.31587,...,83.838,0.013899,0.18016,0.96293,0.93799,14.422,6.5468,75.4690,4.8364,3.2339
1771,0.059501,0.36165,0.1962,1.5873,7.018,-0.42359,0.064618,1.7651,1.6866,0.63835,...,1111.000,0.035642,0.093211,0.96220,0.005084,10.397,4.8181,72.3020,5.0483,3.5906
4727,0.011742,0.45322,0.23447,1.5832,-9.8005,0.15182,0.018321,1.1782,1.0309,0.53398,...,22880.000,0.029930,0.021989,0.97007,0.095883,9.8765,8.0419,55.1630,6.6168,7.3176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,0.79697,0.049697,0.72788,15.646,272.36,0,0.98909,19.122,2.6891,0.9503,...,1201.000,0.364660,0.83865,0.64345,0,211.29,3.5927,6.7455,54.11,12.09
3264,0.51575,0.56569,0.40768,1.7207,78.169,0,0.51575,0.76777,2.2612,0.43431,...,1592.000,0.224240,1.1875,0.77281,0,91.031,3.6915,91.3120,3.9973,84.904
1653,0.19269,0.29377,0.55967,3.0253,-71.801,0.12541,0.19269,2.404,2.7921,0.70623,...,3914.700,0.873270,0.27285,0.13507,0,9.9163,5.2479,36.1250,10.104,17.027
2607,0.057383,0.45972,0.30943,1.7564,23.131,0.099004,0.057383,1.1752,1.0366,0.54028,...,18996.000,0.035291,0.10621,0.96471,0.093693,5.6755,2.6638,115.4500,3.1614,4.5951
2732,0.094126,0.37093,0.18004,1.5995,12.485,0,0.094126,1.6959,1.5592,0.62907,...,1684.100,0.249590,0.14963,0.75255,0,11.243,4.8204,70.2990,5.1921,3.0003

1900    0
3584    0
1669    0
1771    0
4727    0
       ..
4931    0
3264    0
1653    0
2607    0
2732    0
Name: TARGET, Length: 5270, dtype: int64

In [58]:
df = pd.DataFrame({'a': [1, 2, '?'], 'b': [True, False, '?'], 'c': [1.0, 2.0, '?']})
df_obj_cols = df.select_dtypes(include=['object']).columns
for i in df_obj_cols:
    df[i] = pd.to_numeric(df[i], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      float64
 1   b       2 non-null      float64
 2   c       2 non-null      float64
dtypes: float64(3)
memory usage: 200.0 bytes

In [59]:
df

     a    b    c
0  1.0  1.0  1.0
1  2.0  0.0  2.0
2  NaN  NaN  NaN

In [57]:
df_obj_cols

Index(['a', 'b', 'c'], dtype='object')